/* Generics */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
}

input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232, 236);
}

.user-email {
    float: right;
    font-size: 13px;
    margin: 10px;
    color: #727290;
}

/* List Header */

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0,0,0,0.05) 1px solid;
}

/* ListHeader Buttons */

.button-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-container {
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 12px;
    background-color: transparent;
    border: 1.5px solid #808080;
    color: #000000;
}

.create-task-button:active {
    background-color: #7eda93;
    color: #ffffff;
}

.sign-out-button:active {
    background-color: #8d54ce;
    color: #ffffff;
}

.edit:active {
    background-color: #c5c94d;
    color: #ffffff;
}

.delete:active {
    background-color: #e06363;
    color: #ffffff;
}

/* List Item */

.list-item {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
}

.info-container{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.task-title {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
}

.date-info {
    display: flex;
    align-items: center;
    width: 185px;
    margin-left: auto;
    margin-right: 10px;
}

.creation-date {
    font-size: 10px;
    color: #727290;
}

/* Modal */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.05), 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}

.modal .form-title-container {
    display: flex;
    justify-content: space-between;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal label {
    font-size: 13px;
}

.modal input[name="description"] {
    resize: vertical;
    padding-bottom: 120px;
}

.update-box {
    display: flex;
    justify-content: space-between;
}

.update-date {
    margin-left: 5px;
    font-size: 10px;
    color: #727290;
}

/* Modal Buttons*/
.modal .form-title-container button {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .form-title-container button:active {
    color: #ffffff;
    background-color: #e06363;
}

.modal .edit:active {
    background-color: #7eda93;
    color: #ffffff;
}

.modal .create:active {
    background-color: #7eda93;
    color: #ffffff;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 36px;
    height: 18px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.completed-date {
    margin-left: 5px;
    font-size: 10px;
    color: #727290;
}

.completed-text {
    margin-left: 42px;
    margin-top: -0.5px;
    font-size: 15px;
    color: #727290;
}

/* Auth */
.auth-container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.auth-container-box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0.08) 0 0 0 1px; 
}

.auth-container-box form {
    display: flex;
    flex-direction: column;
    height: 330px;
    padding: 20px;
}

.auth-options {
    display: flex;
}

.auth-options button {
    width: 50%;
    border: none;
    padding: 10px;
    color: #23262f;
}